@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?96179537');
  src: url('../fonts/fontello.eot?96179537#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?96179537') format('woff2'),
       url('../fonts/fontello.woff?96179537') format('woff'),
       url('../fonts/fontello.ttf?96179537') format('truetype'),
       url('../fonts/fontello.svg?96179537#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?83074859#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-account:before { content: '\e800'; } /* '' */
.icon-active-add-cart:before { content: '\e801'; } /* '' */
.icon-active-rating:before { content: '\eab2'; } /* '' */
.icon-added-favorite:before { content: '\eab3'; } /* '' */
.icon-arrow:before { content: '\eab4'; } /* '' */
.icon-active-favorites:before { content: '\eab5'; } /* '' */
.icon-banner-prev:before { content: '\eab6'; } /* '' */
.icon-avatar-add-placeholder:before { content: '\eab7'; } /* '' */
.icon-cancel2:before { content: '\eab8'; } /* '' */
.icon-banner-next:before { content: '\eab9'; } /* '' */
.icon-checked:before { content: '\eaba'; } /* '' */
.icon-collapse:before { content: '\eabb'; } /* '' */
.icon-avatar-placeholder:before { content: '\eabc'; } /* '' */
.icon-cancel:before { content: '\eabd'; } /* '' */
.icon-coupon:before { content: '\eabe'; } /* '' */
.icon-cvv-info:before { content: '\eabf'; } /* '' */
.icon-datetime:before { content: '\eac0'; } /* '' */
.icon-date:before { content: '\eac1'; } /* '' */
.icon-drink:before { content: '\eac2'; } /* '' */
.icon-expand:before { content: '\eac3'; } /* '' */
.icon-ediit:before { content: '\eac4'; } /* '' */
.icon-facebook:before { content: '\eac5'; } /* '' */
.icon-favorites:before { content: '\eac6'; } /* '' */
.icon-delivered:before { content: '\eac7'; } /* '' */
.icon-fb:before { content: '\eac8'; } /* '' */
.icon-footer-goto-top:before { content: '\eac9'; } /* '' */
.icon-footer-contact:before { content: '\eaca'; } /* '' */
.icon-footer-email:before { content: '\eacb'; } /* '' */
.icon-footer-send:before { content: '\eacc'; } /* '' */
.icon-inactive-rating:before { content: '\eacd'; } /* '' */
.icon-inprogress:before { content: '\eace'; } /* '' */
.icon-footer-location:before { content: '\eacf'; } /* '' */
.icon-location:before { content: '\ead0'; } /* '' */
.icon-insta:before { content: '\ead1'; } /* '' */
.icon-logout:before { content: '\ead2'; } /* '' */
.icon-love:before { content: '\ead3'; } /* '' */
.icon-options:before { content: '\ead4'; } /* '' */
.icon-linkedin:before { content: '\ead5'; } /* '' */
.icon-navigate:before { content: '\ead6'; } /* '' */
.icon-offer:before { content: '\ead7'; } /* '' */
.icon-orders:before { content: '\ead8'; } /* '' */
.icon-price:before { content: '\ead9'; } /* '' */
.icon-quantity-remove:before { content: '\eada'; } /* '' */
.icon-profile:before { content: '\eadb'; } /* '' */
.icon-add-address:before { content: '\eadc'; } /* '' */
.icon-add-payment:before { content: '\eade'; } /* '' */
.icon-add-tip:before { content: '\eadf'; } /* '' */
.icon-search:before { content: '\eae0'; } /* '' */
.icon-remove-tip:before { content: '\eae1'; } /* '' */
.icon-quanity-add:before { content: '\eae2'; } /* '' */
.icon-unchecked:before { content: '\eae3'; } /* '' */
.icon-viewmore:before { content: '\eae4'; } /* '' */
.icon-twitter:before { content: '\eae5'; } /* '' */
.icon-youtube:before { content: '\eae6'; } /* '' */
.icon-recipt-date:before { content: '\eae7'; } /* '' */
.icon-search2:before { content: '\eae8'; } /* '' */
.icon-selected:before { content: '\eae9'; } /* '' */
.icon-time:before { content: '\eaeb'; } /* '' */
.icon-no-items:before { content: '\eaed'; } /* '' */
.icon-distance:before { content: '\eaee'; } /* '' */
.icon-location-picker:before { content: '\eaef'; } /* '' */
.icon-store-location:before { content: '\eaf0'; } /* '' */
.icon-beer:before { content: '\eaf1'; } /* '' */
.icon-liquor:before { content: '\eaf2'; } /* '' */
.icon-mixer:before { content: '\eaf3'; } /* '' */
.icon-wine:before { content: '\eaf4'; } /* '' */
.icon-no-productss:before { content: '\eaf5'; } /* '' */
.icon-no-coupons-v2:before { content: '\eaf6'; } /* '' */
.icon-reorder:before { content: '\eaf7'; } /* '' */
.icon-inprogress-1:before { content: '\eaf8'; } /* '' */
.icon-remove-cart:before { content: '\eafd'; } /* '' */
.icon-add-to-my-cart:before { content: '\eafe'; } /* '' */
.icon-remove-from-my-cart:before { content: '\eaff'; } /* '' */