<div class="container about-us">
  <div class="Searchrelated_div col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h4>Lukas Price List</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/home']">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <a>Lukas Price List</a>
      </li>
    </ol>
  </div>
  <div class="col-md-12 col-xs-12">
    <div class="row">
      <div class="col-md-12">
        <table class="price-list" border="0" cellspacing="0" cellpadding="0" width="50%">
          <tbody>
            <tr>
              <th>
                <img src="assets/Images/name.png">
              </th>
              <th>
                <img src="assets/Images/price.png">
              </th>
              <th>
                <img src="assets/Images/client.png">
              </th>
            </tr>
            <tr>
              <td>DB DE MARGERIE GRAND CRU BRUT (50045842)
              </td>
              <td>
                38.99
              </td>
              <td>
                4.1
              </td>
            </tr>
            <tr>
              <td>
                DB MAILLY BRUT RESERVE GRAND CRU (50046827)
              </td>
              <td>
                39.99
              </td>
              <td>
                4
              </td>
            </tr>
            <tr>
              <td>
                DB MAILLY LES ECHANSONS GRAND CRU (50046836)
              </td>
              <td>
                149.99
              </td>
              <td>
                4.4
              </td>
            </tr>
            <tr>
              <td>
                DB BODEGA POESIA (50045117)
              </td>
              <td>
                74.99
              </td>
              <td>
                4.2
              </td>
            </tr>
            <tr>
              <td>
                DB VALTRAVIESO RIBERA TINTA FINA (50047852)
              </td>
              <td>
                52.99
              </td>
              <td>
                4
              </td>
            </tr>
            <tr>
              <td>DB SPIER 21 GABLES PINOTAGE (50047624)
              </td>
              <td>35.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB BATZELLA BOLGHERI TAM (50045028)
              </td>
              <td>42.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB VALSERRANO RIOJA RESERVA (50047849)
              </td>
              <td>24.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB VINSACRO RIOJA DIORO (50047989)
              </td>
              <td>26.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB DOM LA MILLIERE CHAT DU PAPE VV (50045966)
              </td>
              <td>49.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB SOJOURN CHARDONNAY SONOMA COAST (50047610)
              </td>
              <td>44.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB BARONIA DEL MONTSANT CLOS ENG AV14 (50045011)
              </td>
              <td>29.99</td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB MONTRESOR AMARONE FONDATORE (50047004)</td>
              <td>52.99
              </td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB SHERIDAN L'ORAGE YAKIMA (50047573)</td>
              <td>64.99</td>
              <td>4.3</td>
            </tr>
            <tr>
              <td>DB ARMANI AMARONE (50044932)</td>
              <td>49.99</td>
              <td>4.2</td>
            </tr>
            <tr>
              <td>DB QUINTA DAS CARVALHAS OLD VINES (50047323)</td>
              <td>49.99</td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB QUINTA DAS CARVALHAS TINTA FRANCIS (50047327)</td>
              <td>49.99</td>
              <td>4</td>
            </tr>
            <tr>
              <td>DB QUINTA DAS CARVALHAS 10YR TAWNY (50047317)</td>
              <td>29.99</td>
              <td>4</td>
            </tr>
            <tr>
              <td>DB FRANCK BONVILLE GRAND CRU VINTAGE (50046282)</td>
              <td>57.99</td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB VALSERRANO RIOJA MONTEVIEJO (50047846)</td>
              <td>47.99</td>
              <td>4.3</td>
            </tr>
            <tr>
              <td>DB MAURO VEGLIO BAROLO CASTELLETTO (50046941)</td>
              <td>62.99</td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB CAIAROSSA IGT TOSCANA (50045182)</td>
              <td>69.99</td>
              <td>4.2</td>
            </tr>
            <tr>
              <td>DB DR THANISCH BERNKASTL DOCTOR KABNT (50046079)</td>
              <td>48.99
              </td>
              <td>4</td>
            </tr>
            <tr>
              <td>DB CLOS ST MICHEL CHAT DU PAPE RES (50045698)</td>
              <td>44.99</td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB SHERIDAN MYSTIQUE YAKIMA (50047574)</td>
              <td>31.99</td>
              <td>4</td>
            </tr>
            <tr>
              <td>DB MONTRESOR AMARONE (50047002)</td>
              <td>39.99</td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB NEETHLINGSHOF OWL POST PINOTAGE (50047084)</td>
              <td>24.99</td>
              <td>4 </td>
            </tr>
            <tr>
              <td>DB TERRALSOLE BRUNELLO RISERVA (50047720)</td>
              <td>89.99
              </td>
              <td>4.4</td>
            </tr>
            <tr>
              <td>DB CHAMPAGNE LALLIER R.012 (50045647)</td>
              <td>49.99</td>
              <td>4</td>
            </tr>
            <tr>
              <td>DB BRESSIA MALBEC CAB PROFUNDO (50045142)</td>
              <td>54.99</td>
              <td>4.2</td>
            </tr>
            <tr>
              <td>DB CH BEAU-SEJOUR BECOT ST EMILION (50045297)</td>
              <td>139.99</td>
              <td>4.2</td>
            </tr>
            <tr>
              <td>DB TENSLEY SYRAH COLSON CANYON 12/CS (50050900)</td>
              <td>39.99</td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB MAURO VEGLIO BAROLO ANNUNZIATA (50046938)</td>
              <td>83.99</td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB OAK RIDGE ZINFANDEL LODI AV RES (50047110)</td>
              <td>27.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB TRUETT HURST ZIN ROOSTER DRY CREEK (50047794)
              </td>
              <td>35.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB JV FLEURY CHATEAUNEUF DU PAPE (50046524)
              </td>
              <td>44.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB MAILLY EXCEPTION BLANCHE (50046835)
              </td>
              <td>84.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB CA RUGATE AMARONE (50045172)
              </td>
              <td>69.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB WILLIAM RANDELL SHIRAZ (50048051)
              </td>
              <td>56.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB VALSERRANO RIOJA GRAN RESERVA (50047843)
              </td>
              <td>34.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB M. COZ MERITAGE NAPA VALLEY (50046802)
              </td>
              <td>124.99
              </td>
              <td>4.5
              </td>
            </tr>
            <tr>
              <td>DB ERBA CABERNET NAPA (50046177)
              </td>
              <td>89.99
              </td>
              <td>4.3
              </td>
            </tr>
            <tr>
              <td>DB CH BELLEVUE DE TAYAC MARGAUX (50045306)
              </td>
              <td>39.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH CLERC MILON PAUILLAC (50045326)
              </td>
              <td>79.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB MAILLY BLANC DE NOIRS GRAND CRU (50046824)
              </td>
              <td>52.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH HAUT BAGES LIBERAL PAUILLAC (50045439)
              </td>
              <td>59.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH GRUAUD LAROSE ST JULIEN (50045430)
              </td>
              <td>119.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB EL PUNTIDO RIOJA TEMPRANILLO (50046156)
              </td>
              <td>59.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB LUIS CANAS RIOJA RESERVA (50046788)
              </td>
              <td>35.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB AMANCIO RIOJA TEMPRANILLO (50044870)
              </td>
              <td>149.99
              </td>
              <td>4.5
              </td>
            </tr>
            <tr>
              <td>DB VALTRAVIESO RIBERA VENDIMIA SEL (50047853)
              </td>
              <td>39.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB DOM MORDOREE CH DU PAPE REINE BOIS (50045983)
              </td>
              <td>99.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB CH PAPE CLEMENT PESSAC (50045562)
              </td>
              <td>149.99
              </td>
              <td>4.3
              </td>
            </tr>
            <tr>
              <td>DB CYPRES DE CLIMENS SAUTERNES (50045817)
              </td>
              <td>52.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB MAURO VEGLIO BAROLO GATTERA (50046942)
              </td>
              <td>52.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB CHAMPAGNE LALLIER BLANC DE BLANCS (50045643)
              </td>
              <td>54.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB NEETHLINGSHOF THE CARACAL RED (50047087)
              </td>
              <td>19.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB VALTRAVIESO RIBERA RESERVA (50047851)
              </td>
              <td>31.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB BRESSIA MALBEC CONJURO (50045143)
              </td>
              <td>109.99
              </td>
              <td>4.4
              </td>
            </tr>
            <tr>
              <td>DB MAS SINEN PRIORAT NEGRE (50046902)
              </td>
              <td>59.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH CANTEGRIL SAUTERNES (50045317)
              </td>
              <td>29.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH RAUZAN SEGLA MARGAUX (50045600)
              </td>
              <td>89.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB CH CLERC MILON PAUILLAC (50045327)
              </td>
              <td>99.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB CH CLOS L'EGLISE POMEROL (50045340)
              </td>
              <td>129.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB CH GUIRAUD SAUTERNES (50045434)
              </td>
              <td>69.99
              </td>
              <td>4.3
              </td>
            </tr>
            <tr>
              <td>DB CH OLIVIER PESSAC (50045551)
              </td>
              <td>39.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH LEOVILLE POYFERRE ST JULIEN (50045508)
              </td>
              <td>124.99
              </td>
              <td>4.3
              </td>
            </tr>
            <tr>
              <td>DB CH LEOVILLE BARTON ST JULIEN (50045500)
              </td>
              <td>99.99
              </td>
              <td>4.3
              </td>
            </tr>
            <tr>
              <td>DB CH CAPBERN (50045321)
              </td>
              <td>29.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH QUINAULT L'ENCLOS ST. EMILION (50045595)
              </td>
              <td>44.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH DOISY DAENE SAUTERNES (50045385)
              </td>
              <td>59.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB CH LABEGORCE MARGAUX (50045477)
              </td>
              <td>39.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH FONPLEGADE ST EMILION (50045414)
              </td>
              <td>49.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr style="mso-yfti-irow:74;height:15.0pt">
              <td>DB CH FOMBRAUGE ST. EMILION (50045413)
              </td>
              <td>54.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB RESERVE DE LA COMTESSE PAUILLAC (50047402)
              </td>
              <td>54.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH TALBOT ST. JULIEN (50045615)
              </td>
              <td>69.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB CH CARBONNIEUX BLANC PESSAC (50045322)
              </td>
              <td>44.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH GLORIA ST JULIEN (50045423)
              </td>
              <td>54.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH PRIEURE LICHINE MARGAUX (50045593)
              </td>
              <td>54.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB CH BELLEVUE ST-EMILION GCC (50045307)
              </td>
              <td>59.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH GISCOURS MARGAUX (50045421)
              </td>
              <td>69.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB CH LA DOMINIQUE ST. EMILION (50045462)
              </td>
              <td>64.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH CANTENAC BROWN MARGAUX (50045320)
              </td>
              <td>64.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB CH LES CARMES HAUT BRION PESSAC (50045509)
              </td>
              <td>84.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB DOM DE CHEVALIER PESSAC (50045937)
              </td>
              <td>84.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB CH BEAUSEJOUR DUFFAU ST EMILION (50045299)
              </td>
              <td>119.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB CH CALON SEGUR ST ESTEPHE (50045315)
              </td>
              <td>99.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB CH DOISY-VEDRINES SAUTERNES (50045387)
              </td>
              <td>49.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB CH PHELAN SEGUR ST. ESTEPHE (50045577)
              </td>
              <td>54.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH BLANC DE LYNCH BAGES (50045310)
              </td>
              <td>54.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH HAUT BATAILLEY (50045441)
              </td>
              <td>54.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH BRANAIRE ST JULIEN (50045313)
              </td>
              <td>69.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB CH SUDUIRAUT SAUTERNES (50045614)
              </td>
              <td>84.99
              </td>
              <td>4.3
              </td>
            </tr>
            <tr>
              <td>DB CH RIEUSSEC SAUTERNES (50045602)
              </td>
              <td>76.99</td>
              <td>4.3</td>
            </tr>
            <tr>
              <td>DB CH ALTER EGO DE PALMER MARGAUX (50045288)</td>
              <td>79.99</td>
              <td>4.2</td>
            </tr>
            <tr>
              <td>DB CH LASCOMBES MARGAUX (50045493)</td>
              <td>89.99</td>
              <td>4.2</td>
            </tr>
            <tr>
              <td>DB CH GRAND PUY LACOSTE PAUILLAC (50045427)</td>
              <td>84.99</td>
              <td>4.2</td>
            </tr>
            <tr>
              <td>DB SEVEN RINGS CABERNET OAKVILLE (50047553)</td>
              <td>39.99</td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB REGINA DI RENIERI (50047392)</td>
              <td>39.99</td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB TORIAL CABERNET SAUVIGNON NAPA (50047765)</td>
              <td>64.99</td>
              <td>4.3</td>
            </tr>
            <tr>
              <td>DB TERRALSOLE BRUNELLO MONTALCINO (50047718)</td>
              <td>69.99</td>
              <td>4.3</td>
            </tr>
            <tr>
              <td>DB RE DI RENIERI TOSCANA (50047356)</td>
              <td>36.99</td>
              <td>4</td>
            </tr>
            <tr>
              <td>DB ARRAIGO BENEGAS ESTATE MALBEC 12/CS (50050917)</td>
              <td>17.99</td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB PRIME RED NAPA DISTRICT 4 (50047301)</td>
              <td>39.99</td>
              <td>4</td>
            </tr>
            <tr>
              <td>DB PURECRU CABERNET SAUVIGNON NAPA (50047310)</td>
              <td>49.99</td>
              <td>4</td>
            </tr>
            <tr>
              <td>DB PASO RANCHES BOURBON BARREL ZIN (50047190)</td>
              <td>19.99</td>
              <td>4.1</td>
            </tr>
            <tr>
              <td>DB PHILIPPE-LORRAINE CABERNET NAPA (50047225)</td>
              <td>29.99</td>
              <td>4.3</td>
            </tr>
            <tr>
              <td>DB WALLIS FAMILY ESTATE CAB DIAMOND (50048031)</td>
              <td>99.99</td>
              <td>4.4
              </td>
            </tr>
            <tr>
              <td>DB MAURO SEBASTE BAROLO TRESURI (50046930)
              </td>
              <td>39.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB SINCLAIR EST CABERNET (50047594)
              </td>
              <td>39.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB MAURO VEGLIO BAROLO ARBORINA (50046939)
              </td>
              <td>59.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB KALARIS PINOT NOIR SONOMA COAST (50046532)
              </td>
              <td>54.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB KG3 CABERNET NAPA (50046547)
              </td>
              <td>49.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB MACCHIA ZINFANDEL MISCHIEVOUS LODI (50046808)
              </td>
              <td>23.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB MAURO VEGLIO BAROLO (50046937)
              </td>
              <td>39.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB PRIME CABERNET COOMBSVILLE (50047300)
              </td>
              <td>74.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB MARK HEROLD CABERNET BROWN LABEL (50046881)
              </td>
              <td>99.99
              </td>
              <td>4.5
              </td>
            </tr>
            <tr>
              <td>DB HUNNICUTT CABERNET NAPA (50046482)
              </td>
              <td>79.99
              </td>
              <td>4.4
              </td>
            </tr>
            <tr>
              <td>DB FLICHMAN DEDICADO RED (50046240)
              </td>
              <td>32.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB CORLEY FAMILY CABERNET RSV NAPA (50045744)
              </td>
              <td>69.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB TRECCIANO DANIELLO ROSSO TOSCANA (50047780)
              </td>
              <td>29.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB CASADO MORALES RIOJA GRAN RESERVA (50045240)
              </td>
              <td>36.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB ALESSANDRIA BAROLO SAN GIOVANNI (50044855)
              </td>
              <td>59.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB DESANTE CABERNET OAKVILLE (50045895)
              </td>
              <td>79.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB BALDACCI CABERNET STAGS LEAP (50044989)
              </td>
              <td>89.99
              </td>
              <td>4.4
              </td>
            </tr>
            <tr>
              <td>DB BALDACCI CHARDONNAY SORELLE (50044990)
              </td>
              <td>46.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB VASCO SASSETTI BRUNELLO MONTALCINO (50047868)
              </td>
              <td>49.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB VERMEIL PROPRIETARY RED XXXIV NAPA (50047953)
              </td>
              <td>49.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB ARMANI PINOT NOIR (50044940)
              </td>
              <td>15.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB THE FUGITIVE RED DRY CREEK VALLEY (50047741)
              </td>
              <td>31.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB ALESSANDRIA BAROLO (50044853)
              </td>
              <td>49.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB RENIERI BRUNELLO DI MONTALCINO (50047397)
              </td>
              <td>69.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB GREY ROCK SAUV BLANC MARLBOROUGH (50046381)
              </td>
              <td>14.99
              </td>
              <td>3.9
              </td>
            </tr>
            <tr>
              <td>DB ALBRECHT CREMANT BRUT ROSE TRAD (50044847)
              </td>
              <td>24.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB PODERE PAGANICO BRUNELLO (50047251)
              </td>
              <td>49.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB CASALINO BRUNELLO DI MONTALCINO (50045246)
              </td>
              <td>41.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB MASCOTA VINEYARDS UNANIME (50046910)
              </td>
              <td>24.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB CONTE PRIOLA PINOT NOIR (50045737)
              </td>
              <td>8.99
              </td>
              <td>3.3
              </td>
            </tr>
            <tr>
              <td>DB ARIA DI CAIAROSSA (50044931)
              </td>
              <td>39.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB RED MARE CABERNET SAUVIGNON NAPA (50047374)
              </td>
              <td>59.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB IMPERFECTO MALBEC (50046500)
              </td>
              <td>59.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB MONTICELLO CABERNET JEFFERSON NAPA (50046996)
              </td>
              <td>39.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB SOJOURN PINOT NOIR SONOMA COAST (50047611)
              </td>
              <td>45.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB MELI MELO CABERNET NAPA (50046948)
              </td>
              <td>59.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB LOUIS BOUILLOT BRUT (50046759)
              </td>
              <td>19.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB THE ONE ARMED MAN RED BLEND DCV (50047743)
              </td>
              <td>39.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB RIVATA CASA ROSSA 12/CS (50050481)
              </td>
              <td>11.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB 1858 CABERNET SAUVIGNON PASO 12/CS (50049605)
              </td>
              <td>29.99
              </td>
              <td>4.4
              </td>
            </tr>
            <tr>
              <td>DB BIG SIX BOURBON BARREL RED BLEND (50045096)
              </td>
              <td>14.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB RIVATA MOSCATO D'ASTI 12/CS (50050473)
              </td>
              <td>10.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB SHERIDAN CABERNET SAUVIGNON YAKIMA (50047571)
              </td>
              <td>29.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB LA VOSTRA PROSECCO (50046643)
              </td>
              <td>10.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB POUR HAUS PINOT GRIGIO (50047291)
              </td>
              <td>13.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB POUR HAUS RED BLEND (50047292)</td>
              <td>13.99
              </td>
              <td>3
              </td>
            </tr>
            <tr>
              <td>DB POUR HAUS CABERNET SAUVIGNON (50047289)
              </td>
              <td>13.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB POUR HAUS CHARDONNAY (50047290)
              </td>
              <td>13.99
              </td>
              <td>3.5
              </td>
            </tr>
            <tr>
              <td>DB BALDACCI PINOT NOIR ELIZABETH (50044992)
              </td>
              <td>41.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB CASTELLO PANERETTA CHIANT CLASS RS (50045256)
              </td>
              <td>29.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB NEROORO APPASSIMENTO NERO D'AVOLA (50047094)
              </td>
              <td>12.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB TORIAL RED BLEND (50047766)
              </td>
              <td>34.99
              </td>
              <td>4.2
              </td>
            </tr>
            <tr>
              <td>DB 69 MILES CHARDONNAY (50044815)
              </td>
              <td>19.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB ARMANI PINOT GRIGIO COLLE ARA (50044935)
              </td>
              <td>19.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB ITER CABERNET SAUVIGNON NAPA RSV (50046504)
              </td>
              <td>29.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB MARK HEROLD RED BLEND FLUX (50046883)
              </td>
              <td>25.97
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB MASCOTA VYDS LA MASCOTA CAB (50046918)
              </td>
              <td>15.99
              </td>
              <td>3.7
              </td>
            </tr>
            <tr>
              <td>DB MASCOTA VYDS LA MASCOTA MALBEC (50046920)
              </td>
              <td>14.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB D'AUTREFOIS PINOT NOIR (50045831)
              </td>
              <td>12.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB CONTE PRIOLA PINOT GRIGIO (50045734)
              </td>
              <td>7.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB RADIUS CABERNET RESERVE (50047341)
              </td>
              <td>16.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB TULI PINOT NOIR SONOMA (50047814)
              </td>
              <td>26.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB GREY ROCK SAUV BLANC RESERVE (50046382)
              </td>
              <td>18.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB BIG SIX BOURBON BARREL CABERNET (50045095)
              </td>
              <td>15.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB BUTTERCREAM CHARDONNAY (50045167)
              </td>
              <td>13.99
              </td>
              <td>3.5
              </td>
            </tr>
            <tr>
              <td>DB CALCAREOUS TWISTED PASO CABERNET (50045190)
              </td>
              <td></td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB CALCAREOUS TWISTED PASO ZINFANDEL (50045194)
              </td>
              <td></td>
              <td>3.7
              </td>
            </tr>
            <tr>
              <td>DB CH VRAI CANON BOUCHE CANON-FRONSAC (50045639)
              </td>
              <td></td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB CHANOINE BRUT GRANDE RESERVE 6/CS (50050906)
              </td>
              <td></td>
              <td>3.7
              </td>
            </tr>
            <tr>
              <td>DB HEDGES CABERNET SAUVIGNON (50046437)
              </td>
              <td></td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB VILLA LANATA DOLCETTO D'ALBA (50047968)
              </td>
              <td></td>
              <td>4.3
              </td>
            </tr>
            <tr>
              <td>DB ALESSANDRIA BARBERA D'ALBA (50044852)
              </td>
              <td>49.99
              </td>
              <td>3.7
              </td>
            </tr>
            <tr>
              <td>DB BARONIA DEL MONTSANT FLOR DENGLORA (50045013)
              </td>
              <td>29.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB TULI CHARDONNAY SONOMA (50047813)
              </td>
              <td>26.99
              </td>
              <td>3.7
              </td>
            </tr>
            <tr>
              <td>DB ALMODI TEMPUS TERRA ALTA (50044860)
              </td>
              <td>19.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB BALDACCI IV SONS FRATERNITY NAPA (50044991)
              </td>
              <td>49.99
              </td>
              <td>3.9
              </td>
            </tr>
            <tr>
              <td>DB BARONIA DEL MONTSANT FLOR GARNACHA (50045014)
              </td>
              <td>14.99
              </td>
              <td>3.4
              </td>
            </tr>
            <tr>
              <td>DB SALADINI PILASTRI ROSSO PICENO (50047502)
              </td>
              <td>12.99
              </td>
              <td>3.5
              </td>
            </tr>
            <tr>
              <td>DB SALADINI PILASTRI FALERIO (50047495)
              </td>
              <td>11.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB BARBA MONTEPULCIANO COLLE MORINO (50045007)
              </td>
              <td>11.99
              </td>
              <td>3.3
              </td>
            </tr>
            <tr>
              <td>DB SALADINI PILASTRI MONTETINELLO (50047497)
              </td>
              <td>17.99
              </td>
              <td>3.7
              </td>
            </tr>
            <tr>
              <td>DB FOSS MARAI PROSECCO BRUT GUIA (50046259)
              </td>
              <td>34.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB CLOS D'ANGEL LA FINCA MALBEC (50045692)
              </td>
              <td>18.99
              </td>
              <td>3.9
              </td>
            </tr>
            <tr>
              <td>DB TESORO DELLA REGINA PROSECCO (50047736)
              </td>
              <td>19.99
              </td>
              <td>3.9
              </td>
            </tr>
            <tr>
              <td>DB VENGEANCE RED CALIFORNIA (50047948)
              </td>
              <td>34.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB PALLAS OLD VINE GARNACHA (50047168)
              </td>
              <td>14.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB CLOS D'ANGEL LA FINCA CAB SAUV (50045691)
              </td>
              <td>18.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB TESORO DELLA REGINA PINOT GRIGIO (50047734)
              </td>
              <td>17.49
              </td>
              <td>3.9
              </td>
            </tr>
            <tr>
              <td>DB FOSS MARAI PROSECCO DRY NADIN (50046260)
              </td>
              <td>33.99
              </td>
              <td>3.9
              </td>
            </tr>
            <tr>
              <td>DB CH ROQUES MAURIAC BORDX SUPERIEUR (50045607)
              </td>
              <td>19.99
              </td>
              <td>3.3
              </td>
            </tr>
            <tr>
              <td>DB REALUNA PROSECCO (50047358)
              </td>
              <td>14.99
              </td>
              <td>3.5
              </td>
            </tr>
            <tr>
              <td>DB OLD CANNERY ROW CHARD MONTEREY (50047124)
              </td>
              <td>19.99
              </td>
              <td>3.9
              </td>
            </tr>
            <tr>
              <td>DB FOSS MARAI ROOS BRUT (50046263)
              </td>
              <td>25.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB EGUREN TIERRA CASTILLA TEMPRANILLO (50046134)
              </td>
              <td>8.99
              </td>
              <td>3.2
              </td>
            </tr>
            <tr>
              <td>DB GATTAVECCHI VINO NOBILE MONTPULCNO (50046307)
              </td>
              <td>31.99
              </td>
              <td>3.9
              </td>
            </tr>
            <tr>
              <td>DB ITER CHARDONNAY CALIFORNIA (50046505)
              </td>
              <td>13.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB CH ROQUES MAURIAC DAMNATION (50045608)
              </td>
              <td>29.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB CH CLOS DE VIEILLE EGLISECASTILLON (50045334)
              </td>
              <td>17.99
              </td>
              <td>3.7
              </td>
            </tr>
            <tr>
              <td>DB BARBA MONTEPULCIANO VIGNA FRANCA (50045009)
              </td>
              <td>16.49
              </td>
              <td>3.5
              </td>
            </tr>
            <tr>
              <td>DB TERRES DE MUSCAT ST JEAN MINERVOIS (50047729)
              </td>
              <td>12.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB VECCHIA CANTINA ROSSO DI MONTE (50047874)
              </td>
              <td>12.49
              </td>
              <td>3.2
              </td>
            </tr>
            <tr>
              <td>DB CH MARGAUX MARGAUX (50045524)
              </td>
              <td>1499.97
              </td>
              <td>4.6
              </td>
            </tr>
            <tr>
              <td>DB TALCOTT CELLARS CABERNET COLUMBIA (50047697)
              </td>
              <td>15.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB FOSS MARAI GRILLAIA EXTRA DRY (50046257)
              </td>
              <td>19.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB URO TORO FINCA LA RANA (50047829)
              </td>
              <td>19.99
              </td>
              <td>3.5
              </td>
            </tr>
            <tr>
              <td>DB AMARU CABERNET SAUVIGNON (50044871)
              </td>
              <td>29.99
              </td>
              <td>3.7
              </td>
            </tr>
            <tr>
              <td>DB BARBA MONTEPULCIANO VASARI (50045008)
              </td>
              <td>9.99
              </td>
              <td>3.5
              </td>
            </tr>
            <tr>
              <td>DB RELUSSO ROSSO FRIZZANTE (50047395)
              </td>
              <td>12.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB TORRE DEI GESUITI PRIMITIVO - ZIN (50047767)
              </td>
              <td>10.99
              </td>
              <td>3
              </td>
            </tr>
            <tr>
              <td>DB TORRE DEI GESUITI SANGIOVESE PUGLI (50047768)
              </td>
              <td>10.99
              </td>
              <td>3.2
              </td>
            </tr>
            <tr>
              <td>DB WINZER KREMS BLAUER ZWEIGELT (50048067)
              </td>
              <td>14.99
              </td>
              <td>3.3
              </td>
            </tr>
            <tr>
              <td>DB ELFENHOF BLAUFRANKISCH ABENDROT (50046157)
              </td>
              <td>21.99
              </td>
              <td>3.3
              </td>
            </tr>
            <tr>
              <td>DB TENUTA DEL PORTALE BASILICT STARSA (50047710)
              </td>
              <td>12.99
              </td>
              <td>3.4
              </td>
            </tr>
            <tr>
              <td>DB SALADINI PILASTRI MONTEPRANDONE (50047496)
              </td>
              <td>17.99
              </td>
              <td>3.7
              </td>
            </tr>
            <tr>
              <td>DB ABSTRACTO FIFTH EMPIRE CABERNET 12/CS (50050484)
              </td>
              <td>19.99
              </td>
              <td>3.5
              </td>
            </tr>
            <tr>
              <td>DB DOM LES LANDES MUSCAT MINERVOIS (50045977)
              </td>
              <td>19.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB TRUCO CABERNET RESERVE (50047787)
              </td>
              <td>15.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB TENUTA DI RENIERI MEGA (50047717)
              </td>
              <td>57.99
              </td>
              <td>4.1
              </td>
            </tr>
            <tr>
              <td>DB WINZER KREMS GRUNER VELTLINER (50048071)
              </td>
              <td>13.99
              </td>
              <td>3.4
              </td>
            </tr>
            <tr>
              <td>DB MARCHESE DELL'ELSA MOSCATO PINK (50046877)
              </td>
              <td>12.99
              </td>
              <td>4
              </td>
            </tr>
            <tr>
              <td>DB MONTRESOR ROSSO VERONA (50047007)
              </td>
              <td>14.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB WINZER KREMS GRUNER VELTLINER KS (50048072)
              </td>
              <td>14.99
              </td>
              <td>3.5
              </td>
            </tr>
            <tr>
              <td>DB CH PLINCETTE POMEROL (50045584)
              </td>
              <td>39.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB TRECCIANO CHIANTI SENESI (50047778)
              </td>
              <td>13.99
              </td>
              <td>3.5
              </td>
            </tr>
            <tr>
              <td>DB COURTNEY BENHAM MERLOT (50045775)
              </td>
              <td>19.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB COURTNEY BENHAM CABERNET SLD (50045769)
              </td>
              <td>59.99
              </td>
              <td>3.9
              </td>
            </tr>
            <tr>
              <td>DB VECCHIA CANTINA CHIANTI (50047873)
              </td>
              <td>9.99
              </td>
              <td>3.2
              </td>
            </tr>
            <tr>
              <td>DB TESORO DELLA REGINA CHIANTI CLS (50047732)
              </td>
              <td>14.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB BARBA I VASARI OLD VINES MONTEPUL (50045006)
              </td>
              <td>19.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB WINZER KREMS BLAUER ZWEIGLT PRIVAT (50048068)
              </td>
              <td>19.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB RENIERI INVETRO (50047398)
              </td>
              <td>19.99
              </td>
              <td>3.8
              </td>
            </tr>
            <tr>
              <td>DB SANT'ORSOLA DOLCETTO D'ALBA (50047526)
              </td>
              <td>11.99
              </td>
              <td>3.2
              </td>
            </tr>
            <tr>
              <td>DB NOBLES RIVES CAVE DE TAIN SYRAH (50047101)
              </td>
              <td>12.99
              </td>
              <td>3.3
              </td>
            </tr>
            <tr>
              <td>DB CAIS DA RIBEIRA DOURO RED RESERVA (50045185)
              </td>
              <td>16.99
              </td>
              <td>3.6
              </td>
            </tr>
            <tr>
              <td>DB MONTRESOR RUSTEGO (50047008)
              </td>
              <td>10.99
              </td>
              <td>3.7
              </td>
            </tr>
            <tr>
              <td>DB CONTE DI CASTIGNANO CHIANTI (50045725)
              </td>
              <td>12.99
              </td>
              <td>3.5
              </td>
            </tr>
            <tr>
              <td>DB VINA RUBICAN CRIANZA NAVARRA (50047982)
              </td>
              <td>12.99
              </td>
              <td>3.4
              </td>
            </tr>
            <tr>
              <td>DB DOM WACHAU GRUNER FEDERSPIEL (50046012)
              </td>
              <td>23.99
              </td>
              <td>3.7
              </td>
            </tr>
            <tr>
              <td>DB CH PAILLET-QUANCARD COTES BORDEAUX (50045555)
              </td>
              <td>16.99
              </td>
              <td>3.7
              </td>
            </tr>
            <tr>
              <td>DB DOM DE GACHET POMEROL (50045938)
              </td>
              <td>31.99
              </td>
              <td>3.9
              </td>
            </tr>
            <tr>
              <td>DB TESORO DE BULLAS MONASTRELL (50047730)
              </td>
              <td>15.99
              </td>
              <td>3.4
              </td>
            </tr>
            <tr>
              <td>DB CH DE LA ROULERIE ANJOU BLANC (50045359)
              </td>
              <td>17.99
              </td>
              <td>4
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>