<div class="modal-body text-center">
  <div *ngIf="!sorryPopup; else sorryDialogBody">
    <p class="font">We sell alcohol-based products on this website, but we can’t advertise or sell to minors.</p>
    <h2 class="popins_bold">Are you at least 21 Years old?</h2>
    <div class="text-center">
        <button type="button" class="btn btn-default close modal-age no" style="float: none;" (click)="sorryPopup = true">No</button>
      <button type="button" class="btn btn-default close modal-age" style="float: none;" data-dismiss="modal"
        (click)="onAgeVarify()">Yes</button>
    </div>
  </div>
  <ng-template #sorryDialogBody>
    <span class="fa fa-ban popicon-block"></span>
    <h2 class="popins_bold-2">Sorry!</h2>
  </ng-template>
  <div class="modal-footer buttons-container">
      <p *ngIf="!sorryPopup; else sorryDialogFooter">To learn more about responsible consumption, please visit <a
          href="https://www.drinksmart.com" target="_blank">www.drinksmart.com</a></p>
      <ng-template #sorryDialogFooter>
        <p>You must be 21 years of age or older to view this site. </p>
        <div class="btncenter-block">
          <button type="button" class="btn btn-default close">Leave Site!</button>
        </div>
      </ng-template>
    </div>
</div>
