@import "~src/variable.scss";

.Product_name h5{
	font-family: poppins;
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -.5px;
    text-align: left;
    color: #262628;
}

.bg-transparent h5.Product_price {
	font-family: poppins;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .5px;
    text-align: left;
    color: $lukas-color;
}

.Searchrelated_div-bot {
    margin-bottom: 10px !important;
}

.page-navigation {
    width: auto;
    margin: 0 auto;
    display: table;
    margin-right: -15px !important;
}