<div class="reviews" id="exreview">
 <div class="col-md-12">
    <div class="row">
         <div class="user-review-dp">
            <img class="img-responsive" src="{{review?.UserImage}}">
          </div>

          <div class="user-review-content">
              <div class="name_date">
                <span class="title">{{review?.UserName}}</span> - <small class="text-muted"> {{review?.TimePeriod}}</small>
              </div> 
              <div *ngIf="review?.UserId === currentUserId" class="review-edit" (click)="onEdit()"><span class="fa fa-pencil edit-icon"></span></div>
              <div class="star_right rating-stars">
                  <app-rating [rate]="review?.ReviewRating"></app-rating>
              </div>
              <p class="caption">{{review?.ReviewTitle}}</p>
              <p class="word_break caption">
                {{review?.ReviewDescription}}
              </p>
          </div>
    </div>
 </div>
</div>