<div class="">
    <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <h4>Edit Profile</h4>
                <div class="row">
                    <div class="col-md-12 profile-edit-section">
                        <form [formGroup]=formEditProfile (ngSubmit)="onProfileUpdate()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!-- <span class="img_class" *ngIf="profileImage">
                                            <img class="img-responsive" [src]="profileImage" />
                                        </span> -->
                                        <span class="img_class">
                                            <img *ngIf="profileImage; else showProfileName" [src]="profileImage" class="img-responsive useralpha-icon">
                                            <ng-template #showProfileName>
                                                <span class="text-dp">{{profileFirstLetter | uppercase}}
                                                </span>
                                            </ng-template>
                                        </span>
                                        <div class="inputWrapper profileupload">
                                            <input class="fileInput" formControlName="pImage" type="file" capture="camera"
                                                accept="image/*" (change)="uploadPicture($event)" />
                                            <span class="fa fa-camera"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"><br>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-uppercase">First Name <span>*</span>
                                            <input type="text" formControlName="pFirstName" class="form-control"
                                                placeholder="First Name" />
                                            <div *ngIf="submitted && f.pFirstName.errors" class="alert alert-danger">
                                                <div *ngIf="f.pFirstName.errors.required">FirstName is required.</div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-uppercase">Last Name <span>*</span>
                                            <input type="text" formControlName="pLastName" class="form-control"
                                                placeholder="Last Name" />
                                            <div *ngIf="submitted && f.pLastName.errors" class="alert alert-danger">
                                                <div *ngIf="f.pLastName.errors.required">LastName is required.</div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-uppercase">Phone Number <span>*</span>
                                            <input type="text" formControlName="pContactNo" class="form-control"
                                                placeholder="Phone Number" />
                                            <div *ngIf="submitted && f.pContactNo.errors" class="alert alert-danger">
                                                <div *ngIf="f.pContactNo.errors.required">Phone Number is required.</div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-uppercase">E-Mail <span>*</span>
                                            <input type="email" formControlName="pEmail" class="form-control"
                                                placeholder="Email" />
                                            <div *ngIf="submitted && f.pEmail.errors" class="alert alert-danger">
                                                <div *ngIf="f.pEmail.errors.required">E-Mail is required.</div>
                                                <div *ngIf="f.pEmail.errors.email">E-Mail must be a valid email address</div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-uppercase">Date of Birth
                                            <!-- <input type="date" formControlName="pDOB" class="form-control" /> -->
                                        </label>
                                        <mat-form-field>
                                            <input formControlName="pDOB" matInput [matDatepicker]="picker">
                                            <mat-datepicker-toggle name="pDOB" matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-uppercase">Gender
                                        </label>
                                        <div class="col-md-12">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="radiobox m-radio">
                                                    <input type="radio" name="pGender" formControlName="pGender" value="M" />
                                                    <span class="checkmark"></span>
                                                </div>
                                                Male
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="radiobox m-radio">
                                                    <input type="radio" name="pGender" formControlName="pGender" value="F" />
                                                    <span class="checkmark"></span>
                                                </div>
                                                Female
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="btn_right">
                                            <button type="cancel" routerLink="../profile" class="btn btn-default novalue">Cancel</button>
                                            <button type="submit" class="btn btn-default close">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>