@import "~src/variable.scss";

.modal-header {
  border-bottom: none;
  background: #f9fbfc;
}

.modal-content {
  box-shadow: none !important;
  border:none !important;  
  background: none !important;
  .modal-footer{ background: #f9fbfc !important; 
    // border: 1px solid rgba(0, 0, 0, 0.1) !important; 
    padding-top: 20px; 
    //border-top:none;
  button.skip{ background: #fff !important; border:none !important; box-shadow: none !important; color: #777;}
  button.skip:hover{background: #fff !important;}
  }
    .modal-body {
    padding: 30px;
    border: 1px solid rgba(0,0,0,.1) !important;
    background: #fff !important;
    min-height: 400px;
    //border-radius: 8px;
    h3 {
      font-size: 1.2em;
      margin-top: 0;
    }
    small {
      font-family: poppinsregular;
      color: #9d9d9d;
      a {
        color: #999;
        margin-left: 5px;
        &:hover {
          color: $lukas-color;
        }
      }
    }
    .store-block {
      padding-bottom: 15px;
      margin: 15px 0;
      border-bottom: solid 1px #dbdcdd;
    }
    .store-block:nth-last-child(n + 3) {
      border-bottom: none;
    }
    .empty{ text-align: center; padding: 15px 0;}
    .empty img{ width: 100%; height: auto; max-width: 60%; margin-bottom: 15px;}
  }
  .mbottom15 {
    margin-bottom: 15px;
  }
  .img-store {
    position: relative;
  }
  .img-store img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: solid 1px #f4f4f4;
    padding: 10px 5px;
    border-radius: 4px !important;
  }
  .input-group .form-control {
    width: 100%;
    border-right: transparent;
    border-left: transparent;
    padding: 20px 5px;
    font-family: poppinsregular !important;
    box-shadow: none;
    height: 45px;
    input.form-control {
      font-family: poppinsregular !important;
    }
    
  }

  @-moz-document url-prefix() { 
    .input-group .form-control {
      padding: 8px 5px !important;
    }
  }

  .form-control:focus{ outline-color: white !important; outline-style: auto !important;}
  .input-group-addon {
    background-color: #fff !important;
    padding: 5px;
    font-size: 18px;
    color: #777;
  }
}

@media only screen and (max-width: 735px) {
  .fa.normal {
    color: #999;
    font-size: 40px;
    margin-top: 20px !important;
  }
  
}

@media only screen and (max-width: 480px) {
  /* your CSS here */
  .modal-content .img-store > img{max-width: 40% !important;}
  }
@media screen and (min-width: 320px) and (max-width: 667px) {
  .fa-map-marker {
    font-size: 4em !important;
  }
  .filer_go {
    padding: 9px 17px 9px 17px !important;
    padding: 12px 43px 12px 43px !important;
    font-size: 1.2em !important;
  }
  .modal-footer .btn {
    font-size: 0.9em !important;
    padding: 13px 28px !important;
  }
  //.modal-content .img-store > img{max-width: 40% !important;}
}
@media only screen and (max-width: 1024px) {
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  .modal-content .img-store > img{max-width: 25% !important;}
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  .modal-content .img-store > img{max-width: 40% !important;}
  }



  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
  .modal-content .img-store > img{max-width: 25% !important;}
  }
  
  /* iphone X */
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .modal-content .img-store > img{max-width: 40% !important;}
   }

   /* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  .modal-content .img-store > img{max-width: 25% !important;}
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  .modal-content .img-store > img{max-width: 40% !important;}
  }


@media only screen 
and (min-device-width : 320px)
and (max-device-width : 568px) 
and (orientation : landscape) {
    /* CSS here */
    .modal-content .img-store > img{max-width: 40% !important;}
}

@media screen and (min-device-width : 414px) 
and (max-device-height : 736px) and (max-resolution: 401dpi)
{
  .modal-content .img-store > img{max-width: 40% !important;}
}

   @media only screen and (min-device-width: 823px) and (orientation: landscape) { /* Your Styles... */
    //.modal-content .img-store > img{max-width: 40%;}
  }

  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) {
  
    .modal-content .img-store > img{max-width: 77%;}
  
  }

.fade {
  background: rgba(249,251,252,1) !important;
}
.fade1 {
  background: rgba(249,251,252,1) !important;

}
.fade2 {
  background: rgba(56, 56, 56, 0.3) !important;
}
.fa-map-marker {
  color: #e80a1c;
  font-size: 2em;
  margin-right: 5px;
}
.filer_go {
  background:  $lukas-color !important;
  margin-top: 10px;
  padding: 9px 17px 9px 17px;
  box-shadow: none !important;
  color: #fff !important;
  font-size: 0.8em;
}
.filer_go:hover,
.modal-footer .btn:hover {
  background: #868686 !important;
}
.modal-footer .btn {
  background: $lukas-color !important;
  color: #fff;
  box-shadow: none !important;
  font-size: 0.8em;
  padding: 10px 25px;
}
.modal-footer {
  text-align: center;
  border-top: none !important;
  padding-bottom: 30px;
  padding-top: 20px !important;
}
/*.fa-map-marker.success{ color: #07c11d;}*/
.filer_go.success {
  background: #07c11d !important;
  box-shadow: none !important;
}
.img-store.success i {
  position: absolute;
  top: -11px;
  right: 7px;
  color: #07c11d;
  font-size: 2.2em;
}
