<section>
  <div class="container">
    <div class="row">
      <div class="Searchrelated_div col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>Recipes</h4>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item active"><a>Recipes</a></li>
        </ol>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="page-navigation">
          <div class="f-page-navigation" *ngIf="recipeList?.RecipeCount > 0">
            <ngb-pagination [collectionSize]="recipeList?.RecipeCount" (pageChange)="onPageChange($event)" [(page)]="page"
              [pageSize]="recipeList?.PageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>

        <div class="recipes col-lg-3 col-md-3 col-sm-3 col-xs-12 item_img animated fadeInLeft" *ngFor="let recipe of recipeList?.ListRecipe">
          <div class="row">
            <div class="thumbnail">
              <a (click)="onRecipeSelection(recipe)">
                <img src='{{recipe?.ThumbNailImage}}' />
                <div class="caption">
                  <h6 class="text_center">{{recipe?.Title}}</h6>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="page-navigation">
              <div class="f-page-navigation" *ngIf="recipeList?.RecipeCount > 0">
                <ngb-pagination [collectionSize]="recipeList?.RecipeCount" (pageChange)="onPageChange($event)" [(page)]="page"
                  [pageSize]="recipeList?.PageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</section>