$lukas-color: #E11C30;
$poppins-regular: poppinsregular;
$poppins-bold: poppinsbold;
$montserrat-bold: montserratbold;
$montserrat-regular: montserratregular;
$lukas-color-alpha: rgba(225, 28, 48,0.88);
$boxshadow-regular: 0 10px 20px 0 rgba(51,51,51,0.52);
$boxshadow-active: 0 10px 20px 0 rgba(225, 28, 48,0.52);
$active-danger: #E11C30;