<div class="container about-us">
  <div class="Searchrelated_div col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h4>About Us</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item active"><a>About Us</a></li>
    </ol>
  </div>
  <div class="col-md-12 col-xs-12">
    <div class="row">
      <div class="col-md-3 col-xs-12">
         <img src="../assets/Images/photo1.jpg" class="img-responsive">
        <br>
        <img src="../assets/Images/photo2.jpg" class="img-responsive">
        <br>
		<img src="../assets/Images/photo3.jpg" class="img-responsive">
        <br>
		<img src="../assets/Images/photo4.jpg" class="img-responsive">
        <br>
		<img src="../assets/Images/photo5.jpg" class="img-responsive">
        <br>
      </div>
      <div class="col-md-9 col-xs-12">
        <h4>WHAT IS BOTTLECAPPS?</h4>
        <p>
          BOTTLECAPPSTM is a cloud-hosted smartphone application that runs on both iOS (Apple) and Android smartphones and provides liquor business owners and managers the ability to sell their products effortlessly within the smartphone app.</p>
        <p>The “app” allows a customer the ability to shop on their smartphone for beers, wines, and spirits — wherever they may be located. For the business owner, it offers comprehensive CRM capabilities to understand and cater to your customers.</p>
        <br>
        <h5>OUR SOLUTIONS</h5>
        <p>You’re in a very competitive market. You need all the help you can get—that’s where we come in! We focus on mobile and in-store strategies to build your business so that you can compete in today’s challenging environment. </p>
		<p>Numerous studies show that purchases and user engagement on mobile devices are exploding, compared to purchases and engagement on desktops. The mobile environment is projected to dominate nearly one third (1/3) of all retail purchase decisions.</p>
		<p>Ignoring the importance of having your own branded app with your own logo in the hands of the buying public can be dangerous. Consider being the company that uses BOTTLECAPPSTM to bring in more customers who aren’t being served by your competition in this manner.</p>
        <p><span class="fa fa-angle-right"></span> SEARCH OR SCAN for their favorite product</p>
        <p><span class="fa fa-angle-right"></span> READ product reviews and tasting notes</p>
        <p><span class="fa fa-angle-right"></span> SEE their loyalty card points</p>
        <p><span class="fa fa-angle-right"></span> CREATE a favorites list that makes orders a breeze</p>
        <p><span class="fa fa-angle-right"></span> REORDER any of their previous orders</p>
        <p><span class="fa fa-angle-right"></span> RECEIVE targeted as well as general notifications about sales, promotions, and special events</p>
        <p><span class="fa fa-angle-right"></span> FIND your store location with guided/narrated directions and store hours</p>
        <p><span class="fa fa-angle-right"></span> CONTACT you via phone or email all within the app</p>
		<p><span class="fa fa-angle-right"></span> PAY within the app through Authorize.net, a leader in secure payment gateways or pay at store</p>
		<p><span class="fa fa-angle-right"></span> CUT through the line and checkout using the app</p>
		<p><span class="fa fa-angle-right"></span> REDEEM coupons issued by store</p>
        <br>
      </div>
    </div>
  </div>
</div>